<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring-3.0.0.xsd
    ">

  <camelContext xmlns="http://camel.apache.org/schema/spring">

    <dataFormats>
      <csv id="mycsv"
           skipHeaderRecord="true"
           useMaps="true"/>

      <json id="myjson" library="Jackson"/>
    </dataFormats>

    <route id="transform-csvjson">
      <from uri="direct:start"/>
      <unmarshal>
        <custom ref="mycsv"/>
      </unmarshal>
      <marshal>
        <custom ref="myjson"/>
      </marshal>
      <to uri="mock:csv-json-output"/>
    </route>

  </camelContext>

</beans>
